html {
    font-size: 10px
}

a {
    color: inherit
    text-decoration: none
}

ul {
    padding: 0
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

figure {
    margin: 0
}

input {
    box-sizing: border-box
}
