.typo {
    // Scale
    &__body {
        font-size: 1.4rem
    }

    // Color
    &__primary {
        color: light
    }
    
    // Attributes
    &__clickable {
        text-decoration: underline
        cursor: pointer
        
        &:hover {
            text-decoration: none
        }
    }
}