.typo {
    &__body {
        font-size: 4vw
        line-height: 1.25em
        font-weight: 700
        
        &:nth-child(n + 2) {
            margin-top: 6vw
        }
        
        @media screen and (max-width: 1200px) {
            font-size: 7vw
        }
    }
    
    &__no-wrap {
        display: block
        white-space: nowrap
    }
    
    &__blackout {
        cursor: pointer
        background-color: light
        box-sizing: context-box
        transition: background-color 0.3s ease
        
        &:hover {
            background-color: dark
        }
    }
    
    &__clickable {
        cursor: pointer
        text-decoration: underline
        transition: color 0.3s ease
        
        &:hover {
            color: red
        }
    }
    
    &__sub {
        font-size: 1.5vw
        
        @media screen and (max-width: 1200px) {
            font-size: 4vw
        }
    }
    
    &__micro {
        font-size: 1vw
        font-family: sans-serif
    }
}
