@require './_partials/_normalize'

@require './_partials/_base'

@require './_partials/_utils'
@require './_partials/_colors'
@require './_partials/_typography'

@require '../components/**/*.styl'

body {
    position: relative
}

.global-wrapper {
    padding: 0 2vw
    margin: 0 auto
    max-width: 192rem
    
    @media screen and (max-width: 1200px) {
        padding: 0 4vw
    }
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-button {
    width: 0px
    height: 0px
}

::-webkit-scrollbar-thumb {
    background: #ffffff
    border: 0px none #ffffff
    border-radius: 0px
}

::-webkit-scrollbar-thumb:hover {
    background: #ebebeb
}

::-webkit-scrollbar-thumb:active {
    background: #ebebeb
}

::-webkit-scrollbar-track {
    background: #000000
    border: 0px none #ffffff
    border-radius: 0px
}

::-webkit-scrollbar-track:hover {
    background: #000000
}

::-webkit-scrollbar-track:active {
    background: #000000
}

::-webkit-scrollbar-corner {
    background: transparent
}
