.header {
    padding: 4rem 4rem 0 4rem
    
    &__content {
        align-items: flex-start
        display: flex
        justify-content: space-between
    }
    
    &__sub {
        text-align: right

        span {
            display: block
        }
    }
}