.main {
    padding: 2vw 0

    &__thought-wrapper {
        &:nth-of-type(n + 2) {
            margin-top: 12vw
        }
    }
    
    @media screen and (max-width: 1200px) {
        padding: 4vw 0
    }
}